$font__primary: "Roboto Condensed", serif;
$font__secondary: "Georgia";

$font__sherman_sans: "Sherman Sans", Verdana, sans-serif;
$font__sherman_serif: "Sherman Serif", Georgia, serif;
$font__condensed: "Roboto Condensed", serif;

$color__red: #7a0000;
$color__tan: #fa9f42;
$color__darkorange: #d74100;
$color__orange: #f76900;
$color__mediumorange: #ff431b;
$color__lightorange: #ff8e00;
$color__mediumblue: #203299;
$color__lightblue: #2b72d7;
$color__navyblue: #000e54;
$color__blue_10: #e3e9f3;
$color__green: #0b6e4f;
$color__lightgray: #e0e0e2;
$color__lightviolet: #a6a6d2;
$color__violet: #6a6a9a;

$color__primary: $color__red;
