@use "../../../sass/abstracts/vars";

.backToTopLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1rem;
  border: 1px solid vars.$color__orange;
  border-radius: 0.25rem;
  color: vars.$color__orange;
  text-decoration: none;
  transition: background-color 120ms ease, color 120ms ease, border-color 120ms ease;

  &:hover,
  &:focus-visible {
    background-color: vars.$color__orange;
    color: vars.$color__navyblue;
    border-color: vars.$color__orange;
    outline: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px rgba(247, 105, 0, 0.35);
  }
}
