@use '../sass/abstracts/mixins';
@use '../sass/abstracts/vars';

.accordion {
    //background-color: blue;
    padding: 1rem 0;
}
.accordionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    div {
        display: flex;
        gap: 1rem;
        transform: translateX(-1.3rem);
        align-items: center;
    }
}
.accordionContent {
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
}