@use '../sass/abstracts/mixins';
@use '../sass/abstracts/vars';

.coachcard {
    --image-width: 6rem;

    @include mixins.breakpoint(md) {
        --image-width: 7rem;
    }

    @include mixins.breakpoint(lg) {
        --image-width: 8rem;
    }

    width: 100%;
    transition: all .5s;
    background-color: white;
    position: relative;
    margin-top: calc((var(--image-width) / 2) + 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    }

    &__image {
        width: var(--image-width);
        height: var(--image-width);
        border-radius: 500px;
        border: 3px solid vars.$color__orange;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: calc(var(--image-width) / -2);
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

    }

    &__content {
        text-align: center;
        padding: calc((var(--image-width) / 2) + 1rem) 1rem 1rem 1rem;
        color: vars.$color__navyblue;
    }

    &__role {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        background-color: gray;
        padding: 1rem;
        text-align: center;
        font-family: vars.$font__primary;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        @include mixins.gradients();
    }
}