@use '../sass/abstracts/mixins';

.container {
	//background-color: coral;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0px auto;
	width: 100%;
	@include mixins.breakpoint(sm) {
		width: 700px;
	}

	@include mixins.breakpoint(md) {
		width: 980px;
	}

	@include mixins.breakpoint(lg) {
		width: 1140px;
	}

	@include mixins.breakpoint(xl) {
		width: 1260px;
	}

	&.content {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
		margin: 0 auto;

		@include mixins.breakpoint(md) {
			width: 40em;
		}

		@include mixins.breakpoint(lg) {
			width: 45em;
		}

		@include mixins.breakpoint(xl) {
			width: 50em;
		}
	}

	&.full {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	&.size-sm {
		@include mixins.breakpoint(md) {
			width: 50em;
		}
	
		@include mixins.breakpoint(lg) {
			width: 55em;
		}
	
		@include mixins.breakpoint(xl) {
			width: 60em;
		}
	}
}