@use '../sass/abstracts/mixins';

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    @include mixins.breakpoint(laptop) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mixins.breakpoint(desktop) {
        grid-template-columns: repeat(3, 1fr);
    }
}