@use "../sass/abstracts/vars";

.header {
  //background-color: pink;
  position: relative;
  padding: 2rem 0 0.5rem 0;
  text-align: center;
  margin-bottom: 2rem;
}

.skipLink {
  position: absolute;
  left: -9999px;
  top: 0.5rem;
  padding: 0.5rem 0.75rem;
  background-color: vars.$color__orange;
  color: vars.$color__navyblue;
  text-decoration: none;
  border-radius: 0.25rem;
  z-index: 1000;

  &:focus {
    left: 0.75rem;
  }
}
