@use '../sass/abstracts/mixins';
@use '../sass/abstracts/vars';

.paragraph {
    font-size: 1rem;
    line-height: 1.6;
    @include mixins.breakpoint(md) {
        font-size: 1.15rem;
    }
    @include mixins.breakpoint(lg) {
        font-size: 1.125rem;
    }
    &.strong {
        font-weight: 700;
    }
    &.condensed {
        font-family: vars.$font__condensed;
    }
    &.caps {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    @include mixins.fontColor();
    @include mixins.marginAndPadding();
    @include mixins.textAlign();
}