@use '../sass/abstracts/vars';
@use '../sass/abstracts/mixins';

.select {
    width: 100%;
    padding: 1rem 0.5rem;
    font-family: vars.$font__primary;
    display: block;
    @include mixins.breakpoint(sm) {
        // max-width: 20rem;
    }
}