@use '../sass/abstracts/mixins';
@use '../sass/abstracts/vars';

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   // background-color: pink;
}
.tab {
    background-color: transparent;
    padding: 1rem 1rem;
    border-bottom: 5px solid transparent;
    font-weight: bold;
    cursor: pointer;
    &.active {
        border-bottom-color: vars.$color__orange;
    }
}